.daily_employee_page .panel {
  margin-bottom: 0;
  border: inherit;
}
.daily_employee_page .panel-heading {
  height: 47px;
  padding: 6px 10px 6px 10px;
}
.daily_employee_page .panel-heading .pull-left {
  float: left;
}
.daily_employee_page .panel-heading .pull-left select {
  margin-top: 0;
  width: 120px;
}
.daily_employee_page .panel-heading .pull-left span {
  margin-left: 6px;
}
.daily_employee_page .panel-heading .pull-right {
  position: absolute;
  right: 10px;
}
.daily_employee_page .form-group {
  height: 33px;
}
.daily_employee_page .form-group .col-sm-3 {
  padding-top: 7px;
  text-align: right;
}
.daily_employee_page .area_in_box {
  background: white;
  min-width: 990px;
  display: block;
}
.daily_employee_page .area_in_box .area {
  padding: 10px;
  float: left;
  font-size: 12px;
}
.daily_employee_page .area_in_box .area1 {
  width: 270px;
  margin-right: 20px;
}
.daily_employee_page .area_in_box .area1 .blank {
  position: relative;
  top: 80px;
  width: 100%;
  text-align: center;
}
.daily_employee_page .area_in_box .area1 table {
  width: 250px!important;
  border: 1px solid #dddddd;
  background: #ffffff;
}
.daily_employee_page .area_in_box .area1 table thead {
  display: block;
  text-align: center;
  background-color: white;
}
.daily_employee_page .area_in_box .area1 table tbody {
  display: block;
  height: 550px;
  min-height: 200px;
  overflow: auto;
  background-image: url(../images/bg_pattern2.gif);
}
.daily_employee_page .area_in_box .area1 table th {
  text-align: center!important;
}
.daily_employee_page .area_in_box .area1 table th:nth-of-type(1) {
  width: 150px;
}
.daily_employee_page .area_in_box .area1 table th:nth-of-type(2) {
  width: 150px;
}
.daily_employee_page .area_in_box .area1 table td {
  text-align: center!important;
}
.daily_employee_page .area_in_box .area1 table td:nth-of-type(1) {
  width: 150px;
}
.daily_employee_page .area_in_box .area1 table td:nth-of-type(2) {
  width: 150px;
}
.daily_employee_page .area_in_box .area1 table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.daily_employee_page .area_in_box .area2 {
  width: 400px;
  min-width: 400px;
}
.daily_employee_page .area_in_box .area2 .form-group {
  margin-bottom: 5px;
}
.daily_employee_page .area_in_box .area2 .form-group .input-box-type2 {
  float: left;
  width: 60px;
  margin-right: 5px;
}
.daily_employee_page .area_in_box .area2 .form-group .input-box {
  float: left;
  width: 120px;
  margin-right: 5px;
}
.daily_employee_page .area_in_box .area2 .form-group .input_box_post {
  float: left;
  width: 80px;
  margin-right: 5px;
}
.daily_employee_page .area_in_box .area2 .form-group .iPost {
  width: 80px;
  text-align: center;
}
.daily_employee_page .area_in_box .area2 .form-group .btn-box {
  float: left;
}
.daily_employee_page .area_in_box .area2 .form-group .radio-sex {
  float: left;
  width: 120px;
  padding: 5px 0 0 10px;
}
.daily_employee_page .area_in_box .area2 .form-group .radio-sex .box {
  float: left;
  width: 40px;
}
.daily_employee_page .area_in_box .area2 .form-group .btn_job {
  width: 120px;
}
.daily_employee_page .area_in_box .area2 .form-group .btn_bank {
  width: 120px;
}
.daily_employee_page .area_in_box .area2 .form-group select {
  float: left;
  width: 60px;
  margin-right: 5px;
}
.daily_employee_page .area_in_box .area2 .form-group .phone-header {
  width: 80px;
}
.main {
  position: absolute;
  width: 100%;
}
.hyunjang {
  width: 100%;
  min-width: 990px;
}
.hyunjang .tab_contents {
  border: 1px solid #dddddd;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
body {
  background-image: url(../images/bg_pattern2.gif);
}
.navbar-fixed-top {
  position: inherit;
}
.main_contents {
  margin: 10px 5px 5px 5px;
}
