
@import "daily_employee_page";
@import "main";
@import "hyunjang";
@import "kongsu_page";
@import "company_info";
@import "danga_style";
@background_color_1: #f2f2f2;

html {
  overflow-y: hidden;
  overflow-x: hidden;
  height:100%;
}

body {
  background-image:url(../images/bg_pattern2.gif);
}
.navbar-fixed-top {
  position: inherit;
}

.main_contents {
  margin: 10px 5px 5px 5px;
}

.modal-footer {
  text-align: center;
}


